{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Karaoke Night | Drinks</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
<div id="header"> <a href="{% url 'index' %}" id="logo"><img src="{% static 'images/logo.png' %}" alt=""></a>
<!---  <ul id="navigation">
    <li><a href="index.html">home</a></li>
    <li><a href="about.html">about</a></li>
    <li><a href="rates.html">rates</a></li>
    <li><a href="blog.html">blog</a></li>
    <li><a href="contact.html">contact us</a></li>
  </ul>
</div>
<div class="body">
  <ul class="navigation">
    <li> <a href="menu.html" id="link1">Menu</a> <a href="menu.html"><img src="images/button-menu.jpg" alt=""></a> </li>
    <li> <a href="rooms.html" id="link2">Rooms</a> <a href="rooms.html"><img src="images/button-rooms.jpg" alt=""></a> </li>
    <li> <a href="events.html"><img src="images/button-events.jpg" alt=""></a> <a href="events.html" id="link3">Events</a> </li>
    <li> <a href="drinks.html"><img src="images/button-drinks.jpg" alt=""></a> <a href="drinks.html" id="link4">Drinks</a> </li>
  </ul>----->
     <ul id="navigation">
      <li class="selected"><a href="{% url 'index' %}">home</a></li>
      <li><a href="{% url 'about' %}">about</a></li>
      <li><a href="{% url 'rates' %}">rates</a></li>
      <li><a href="{% url 'blogs' %}">blog</a></li>
      <li><a href="{% url 'contact' %}">contact us</a></li>
    </ul>
    <ul class="navigation">
      <li> <a href="{% url 'menu' %}" id="link1">Menu</a> <a href="{% url 'menu' %}"><img src="{% static 'images/button-menu.jpg' %}" alt=""></a> </li>
      <li> <a href="{% url 'rooms' %}" id="link2">Rooms</a> <a href="{% url 'rooms' %}"><img src="{% static 'images/button-rooms.jpg' %}" alt=""></a> </li>
      <li> <a href="{% url 'events' %}"><img src="{% static 'images/button-events.jpg' %}" alt=""></a> <a href="{% url 'events' %}" id="link3">Events</a> </li>
      <li> <a href="{% url 'drinks' %}"><img  src="{% static 'images/button-drinks.jpg' %}" alt=""></a> <a href="{% url 'drinks' %}" id="link4">Drinks</a> </li>
    </ul>
  <div>
    <h2>Drinks</h2>

    <h4>Cocktails</h4>
    <table>
      <tr>
        <td class="product">Margarita</td>
        <td class="price">$ 12.00</td>
      </tr>
      <tr>
        <td class="product">Classic Mojito</td>
        <td class="price">$ 10.50</td>
      </tr>
      <tr>
        <td class="product">Piña Colada</td>
        <td class="price">$ 11.00</td>
      </tr>
      <tr>
        <td class="product">Long Island Iced Tea</td>
        <td class="price">$ 13.50</td>
      </tr>
      <tr>
        <td class="product">Old Fashioned</td>
        <td class="price">$ 14.00</td>
      </tr>
    </table>

    <h4>Beer & Wine</h4>
    <table>
      <tr>
        <td class="product">Craft Beer (500ml)</td>
        <td class="price">$ 8.00</td>
      </tr>
      <tr>
        <td class="product">House Red Wine</td>
        <td class="price">$ 9.50</td>
      </tr>
      <tr>
        <td class="product">House White Wine</td>
        <td class="price">$ 9.50</td>
      </tr>
      <tr>
        <td class="product">Sparkling Wine</td>
        <td class="price">$ 10.00</td>
      </tr>
      <tr>
        <td class="product">Cider (500ml)</td>
        <td class="price">$ 7.50</td>
      </tr>
    </table>

    <h4>Non-Alcoholic Drinks</h4>
    <table>
      <tr>
        <td class="product">Fresh Lemonade</td>
        <td class="price">$ 4.50</td>
      </tr>
      <tr>
        <td class="product">Iced Tea (Peach or Lemon)</td>
        <td class="price">$ 4.00</td>
      </tr>
      <tr>
        <td class="product">Virgin Mojito</td>
        <td class="price">$ 5.00</td>
      </tr>
      <tr>
        <td class="product">Coconut Water</td>
        <td class="price">$ 3.50</td>
      </tr>
      <tr>
        <td class="product">Sparkling Water</td>
        <td class="price">$ 2.50</td>
      </tr>
    </table>

    <h4>Hot Drinks</h4>
    <table>
      <tr>
        <td class="product">Espresso</td>
        <td class="price">$ 3.00</td>
      </tr>
      <tr>
        <td class="product">Cappuccino</td>
        <td class="price">$ 4.00</td>
      </tr>
      <tr>
        <td class="product">Latte</td>
        <td class="price">$ 4.50</td>
      </tr>
      <tr>
        <td class="product">Hot Chocolate</td>
        <td class="price">$ 4.75</td>
      </tr>
      <tr>
        <td class="product">Chai Latte</td>
        <td class="price">$ 4.25</td>
      </tr>
    </table>
</div>

</div>
<div id="footer">
  <div>
    <div id="first"> <a href="#" class="logo">Karaoke Night</a>
      <p>bridgettemwaniki@gmail.com Tel: +254797113655</p>
      <p>Located at: 123 Party Ave, Suite 100, Cityville</p>
      <p>Open daily from 6 PM to 2 AM. Join us for the best karaoke experience!</p>
    </div>
    <div>
      <h3><span>Connect</span> with us</h3>
      <a href="#" id="facebook">Facebook</a> <a href="#" id="twitter">Twitter</a> </div>
    <div>
      <h4>Subscribe to our <span>NEWSLETTER</span></h4>
      <p>Stay updated with the latest karaoke events, promotions, and more!</p>
      <p>Sign up to receive exclusive discounts and event invitations directly to your inbox.</p>
      <form action="#">
          <label for="input"></label><input type="text" id="input" value="Enter Email Address" onBlur="this.value=!this.value?'Enter Email Address':this.value;" onFocus="this.select()" onClick="this.value='';">
        <input type="submit" id="submit" value="">
      </form>
    </div>
    <p>Copyright &copy; 2026 <a href="#">Karaoke Hub</a> All rights reserved | </p>
  </div>
</div>
</body>
</html>